@{   
    Layout = "_Layout";
}

<div class="breadcumb-wrapper" data-bg-src="assets/img/bg/breadcumb-bg.jpg">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Services</h1>
            <ul class="breadcumb-menu">
                <li><a href="/">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>


<section class="overflow-hidden space">
    <div class="container">
        <div class="row gy-30">
            <div class="col-md-6 col-xl-4">
                <div class="service-block">
                    <div class="shape1"></div>
                    <div class="service-block_icon">
                        <div class="icon"><img src="~/assets/img/icon/service_block_1.svg" alt="Icon"></div>
                    </div>
                    <div class="service-block_img">
                        <img src="~/assets/img/service/service_block_1.jpg" alt="Image">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Basement Plumbing</a></h3>
                    <p class="service-block_text">
                        Basement plumbing is an essential part of any home. You are
                        looking to finish your basement or just need repairs.
                    </p><a href="service-details.html"
                           class="themeholy-btn">Read More</a>
                    <div class="ripple-shape">
                        <span class="ripple-1"></span><span class="ripple-2"></span><span class="ripple-3"></span><span class="ripple-4"></span><span class="ripple-5"></span><span class="ripple-6"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-block">
                    <div class="shape1"></div>
                    <div class="service-block_icon">
                        <div class="icon"><img src="~/assets/img/icon/service_block_2.svg" alt="Icon"></div>
                    </div>
                    <div class="service-block_img">
                        <img src="~/assets/img/service/service_block_2.jpg" alt="Image">
                    </div>
                    <h3 class="box-title"><a href="service-details.html">Drain Plumbing</a></h3>
                    <p class="service-block_text">
                        Drain plumbing is a critical component of any homes plumbing
                        system. When drains become clogged or damaged.
                    </p><a href="service-details.html"
                           class="themeholy-btn">Read More</a>
                    <div class="ripple-shape">
                        <span class="ripple-1"></span><span class="ripple-2"></span><span class="ripple-3"></span><span class="ripple-4"></span><span class="ripple-5"></span><span class="ripple-6"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
